<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JsonDictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Runtime.Serialization.UseNewMaxArraySize=true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Namotion.Reflection" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12.0" newVersion="1.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JsonDictionary.Properties.Settings>
      <setting name="LastRootFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ReformatJson" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastDbName" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowPreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadDbOnStartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseVsCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorPositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditorPositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditorWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditorHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowPositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowPositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultDescriptionFileName" serializeAs="String">
        <value>descriptions.json</value>
      </setting>
      <setting name="FileMask" serializeAs="String">
        <value>*.jsonc</value>
      </setting>
      <setting name="TreeSplitterDistance" serializeAs="String">
        <value>195</value>
      </setting>
      <setting name="DescriptionSplitterDistance" serializeAs="String">
        <value>412</value>
      </setting>
      <setting name="FileListSplitterDistance" serializeAs="String">
        <value>393</value>
      </setting>
    </JsonDictionary.Properties.Settings>
  </userSettings>
</configuration>
